<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{fragments/layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" /> 
	<link rel="stylesheet" type="text/css" th:href="@{/css/catalog/operators.css}" /> 
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <title>NEO | OPERADORES</title>
</head>
	<body>
		<section layout:fragment="content" th:remove="tag">
			<!-- Tabla de Operadores -->
			<div class="custome-table">
				<div class="table-title">
					<h2>Lista de Operadores</h2>
				<div class="table-status">
					
					<div class="indicators">
                        <h4>Indicadores de Operadores: </h4>
						<div class="indicator">
							<p class="status2"></p>
							<b>En viaje</b>
						</div>
						<div class="indicator">
							<p class="status4"></p>
							<b>Disponible</b>
						</div>
					</div>
				</div>
					<button class="main-btn" onclick="openCreatePopup()"><i class="fa-solid fa-user"></i> Nuevo Operador </button>
				</div>
				<div class="card-table">
					<table id="operatorsTable" class="table table-borderless">
						<thead>
							<tr>
								<th></th>
								<th>ID</th>
								<th>Nombre(s)</th>
								<th>Apellido Paterno</th>
								<th>Apellido Materno</th>
								<th>Antigüedad</th>
								<th>Tipo de Licencia</th>
								<th>Localidad</th>
								<th>Ver Documentos</th>
								<th>Editar</th>
								<th>Gastos adicionales</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			
            <!-- Modal de Creación -->
			<div class="popup" id="createOperator">
				<div class="popup-close">
					<button class="close-btn" onclick="closePopups()"><i class="fa-solid fa-xmark"></i></button>
				</div>
				<form id="createOperatorForm" class="popup-container">
					<h2>Crear Operador</h2>
					<div class="popup-views">
						<div class="view left">
							<div class="edit general">
								<h5>Añadir Información General</h5>
								<div class="space">
									<div class="entry">
										<label for="name">Nombre(s):</label>
										<input type="text"  id="createName" name="name"> 
									</div>
									<div class="entry">
										<label for="lastName">Apellido Paterno:</label>
										<input type="text"  id="createLastName1" name="lastName"> 
									</div>
									<div class="entry">
										<label for="lastName2">Apellido Materno:</label>
										<input type="text"  id="createLastName2" name="lastName2"> 
									</div>
									<div class="entry">
										<label for="rfc">RFC:</label>
										<input type="text"  id="createRfc" name="rfc"> 
									</div>
									<div class="entry">
										<label for="nss">Número de Seguridad Social:</label>
										<input type="text"  id="createNSS" name="nss"> 
									</div>
									<div class="entry">
										<label for="admissionDate">Antigüedad:</label>
										<input type="date"  id="createAdmissionDate" name="admissionDate" required> 
									</div>
									<div class="entry">
										<label for="travelPercentage">Porcentaje de Viaje:</label>
										<input type="text"  id="createTravelPercentage" name="travelPercentage" > 
									</div>
									<div class="entry">
										<label for="company">Empresa:</label>
										<select id="createCompany" name="company">
											    <option value="">Seleccionar Empresa</option>
										        <option value="Lozagui">Lozagui</option>
										        <option value="Petrosmart">Petrosmart</option>
										        <option value="Autofletes">Autofletes</option>
    								    </select>
    							   </div>
    							   <div class="entry">
										<label for="state">Estado del Operador:</label>
										<select id="createState" name="state">
											    <option value="">Seleccione una opcion</option>
											    <option value="2">En Viaje</option>
										        <option value="4">Disponible</option>
										        <option value="5">Vaciones</option>
    								    </select>
    							   </div>
    							   <div class="entry">
                                    <label for="localidad">Localidad:</label>
                                    <select id="createLocalidad" name="localidad">
                                            <option value="">Seleccione una opcion</option>
                                            <option value="Villahermosa">Villahermosa</option>
                                            <option value="Altamira">Altamira</option>
                                            <option value="Poza Rica">Poza Rica</option>  
                                            <option value="Puebla">Puebla</option>  
                                             
                                    </select>
                               </div>
								</div>
							</div>
							<div class="edit license">
								<h5>Añadir Información de Licencia</h5>
								<div class="space">
									<div class="entry">
										<label for="licenseValidity">Vigencia de Licencia:</label>
										<input type="date"  id="createLicenseValidity" name="licenseValidity" required> 
									</div>
									<div class="entry">
										<label for="licenseType">Tipo de Licencia:</label>
										<input type="text"  id="createLicenseType" name="licenseType"> 
									</div>
									<div class="entry">
										<label for="licenseType">Numero de Licencia:</label>
										<input type="text"  id="createLicenseNumber" name="licenseType"> 
									</div>
								</div>
							</div>
							<div class="edit address">
								<h5>Añadir Información Domicialiria</h5>
								<div class="space">
									<div class="entry">
										<label for="editState">Clave Estado:</label>
										<select class="js-example-basic-single" name="estado" id="editState" onchange="createFillCodigoPostal()">
											<option th:each="option : ${getEstado}" th:value="${option.cEstado}" th:text="|${option.cEstado}- ${option.dEstado}|"></option>
										</select>
									</div>
									<div class="entry">
										  <label for="codigo">Código Postal:</label>
											  <select class="js-example-basic-single" name="codigo" id="createCodePostal" onchange="createFillMunicipio(), createFillColonia()">
											  </select>
									</div>
									<div class="entry">
										  <label for="municipio">Municipio:</label>
											  <select class="js-example-basic-single" name="municipio" id="createMunicipality">
											  </select>
									</div>
									<div class="entry">
										  <label for="colonia">Colonia:</label>
											  <select class="js-example-basic-single" name="colonia" id="createColonia">
											  </select>
									</div>
									<div class="entry">
										<label for="calle">Calle:</label>
										<input type="text"  id="createStreet" name="calle"> 
									</div>
									<div class="entry">
										<label for="exterior">No. Exterior:</label>
										<input type="text"  id="createOutside" name="exterior"> 
									</div>
									 <div class="entry">
										<label for="interior">No. Interior:</label>
										<input type="text"  id="createInside" name="interior"> 
									</div>
									<div class="entry">
										<label for="pais">Pais:</label>
										<input type="text"  id="createCountry" name="pais"> 
									</div>
								</div>
							</div>
							<div class="edit observations">
								<h5>Añadir Observaciones</h5>
								<div class="observations-space">
									<div class="entry">
										<label for="observationsOperator">Observaciones:</label>
										<textarea name="observationsOperator" id="createOperatorObservations" cols="auto" rows="10"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="view right">
							<div class="routes">
								<button type="button" class="route active" id="createGeneral">Información General</button>
								<button type="button" class="route" id="createLicense">Información de Licencia</button>
								<button type="button" class="route" id="createAddress">Información Domiciliaria</button>
                                <button type="button" class="route" id="createObservations">Observaciones</button>
							</div>
							<div class="action">
								<button type="submit" class="main-btn"> 
									Crear Operador 
									<i class="fa-solid fa-floppy-disk"></i>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- Modal de Edición -->
			<div class="popup" id="editOperator">
				<div class="popup-close">
					<button class="close-btn" onclick="closePopups()"><i class="fa-solid fa-xmark"></i></button>
				</div>
				<form id="editoperatorForm" class="popup-container">
					<h2>Editar Operador</h2>
					<div class="popup-views">
						<div class="view left">
							<div class="edit general">
								<h5>Información General</h5>
								<input type="number" id="editId" hidden=true>
								<div class="space">
									<div class="entry">
										<label for="name">Nombre(s):</label>
										<input type="text"  id="editName" name="name"> 
									</div>
									<div class="entry">
										<label for="lastName">Apellido Paterno:</label>
										<input type="text"  id="editLastName1" name="lastName"> 
									</div>
									<div class="entry">
										<label for="lastName2">Apellido Materno:</label>
										<input type="text"  id="editLastName2" name="lastName2"> 
									</div>
									<div class="entry">
										<label for="rfc">RFC:</label>
										<input type="text"  id="editRfc" name="rfc"> 
									</div>
									<div class="entry">
										<label for="nss">Número de Seguridad Social:</label>
										<input type="text"  id="editNSS" name="nss"> 
									</div>
									<div class="entry">
										<label for="admissionDate">Antigüedad:</label>
										<input type="date"  id="editAdmissionDate" name="admissionDate" required> 
									</div>
									<div class="entry">
										<label for="travelPercentage">Porcentaje de Viaje:</label>
										<input type="text"  id="editTravelPercentage" name="travelPercentage" > 
									</div>
									<div class="entry">
										<label for="company">Empresa:</label>
										<select id="editCompany" name="company">
											    <option value="">Seleccionar Empresa</option>
										        <option value="Lozagui">Lozagui</option>
										        <option value="Petrosmart">Petrosmart</option>
										        <option value="Autofletes">Autofletes</option>
    								    </select>
    							   </div>
    							   <div class="entry">
										<label for="state">Estado del Operador:</label>
										<select id="editState" name="state">
											    <option value="">Seleccione una opcion</option>
											    <option value="2">En Viaje</option>
										        <option value="4">Disponible</option>
										        <option value="5">Vaciones</option>
										        
    								    </select>
    							   </div>
    							   <div class="entry">
                                    <label for="localidad">Localidad:</label>
                                    <select id="editLocalidad" name="localidad">
                                            <option value="">Seleccione una opcion</option>
                                            <option value="Villahermosa">Villahermosa</option>
                                            <option value="Altamira">Altamira</option>
                                            <option value="Poza Rica">Poza Rica</option>  
                                            <option value="Puebla">Puebla</option>   
                                    </select>
                               </div>
								</div>
							</div>
							<div class="edit license">
								<h5>Información de Licencia</h5>
								<div class="space">
									<div class="entry">
										<label for="licenseValidity">Vigencia de Licencia:</label>
										<input type="date"  id="editLicenseValidity" name="licenseValidity" required> 
									</div>
									<div class="entry">
										<label for="licenseType">Tipo de Licencia:</label>
										<input type="text"  id="editLicenseType" name="licenseType"> 
									</div>
									<div class="entry">
										<label for="licenseType">Numero de Licencia:</label>
										<input type="text"  id="editLicenseNumber" name="licenseType"> 
									</div>
								</div>
							</div>
							<div class="edit address">
								<h5>Añadir Información Domicialiria</h5>
								<div class="space">
									<div class="entry">
										 <label for="estado">Clave Estado:</label>
										 <select class="js-example-basic-single"  name="estado" id="editKeyState" onchange="fillCodigoPostal()">
										 
										  <option value="">Seleccione Estado</option>
										 <option th:each="option : ${getEstado}" th:value="${option.cEstado}" th:text="|${option.cEstado}|"></option>
									 </select>									
									</div>
									<div class="entry" >
										<label for="estado">Nombre Estado:</label>
										<input type="text"  id="reNomClaveEstado" name="estado" >
									</div>
									<div class="entry">
										  <label for="codigo">Código Postal:</label>
											  <select class="js-example-basic-single" name="codigo" id="editCodePostal" onchange="fillMunicipio(), fillColonia()">
											  </select>
									</div>
									<div class="entry">
										  <label for="municipio">Municipio:</label>
											  <select class="js-example-basic-single" name="municipio" id="editMunicipality">
											  </select>
									</div>
									<div class="entry" >
										<label for="municipio">Nombre Municipio:</label>
										<input type="text"  id="reNomMunicipio" name="municipio" readonly>
									</div>
									<div class="entry">
										  <label for="colonia">Colonia:</label>
											  <select class="js-example-basic-single" name="colonia" id="editColonia">
											  </select>
									</div>
									<div class="entry" >
										<label for="colonia">Nombre Colonia:</label>
										<input type="text"  id="reNomColonia" name="colonia" readonly>
									</div>
									<div class="entry">
										<label for="calle">Calle:</label>
										<input type="text"  id="editStreet" name="calle"> 
									</div>
									<div class="entry">
										<label for="exterior">No. Exterior:</label>
										<input type="text"  id="editOutside" name="exterior"> 
									</div>
									 <div class="entry">
										<label for="interior">No. Interior:</label>
										<input type="text"  id="editInside" name="interior"> 
									</div>
									<div class="entry">
										<label for="pais">Pais:</label>
										<input type="text"  id="editCountry" name="pais"> 
									</div>
								</div>
							</div>
							<div class="edit observations">
								<h5>Observaciones</h5>
								<div class="observations-space">
									<div class="entry">
										<label for="observationsOperator">Observaciones:</label>
										<textarea name="observationsOperator" id="editOperatorObservations" cols="auto" rows="10"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="view right">
							<div class="routes">
								<button type="button" class="route active" id="editGeneral">Información General</button>
								<button type="button" class="route" id="editLicense">Información de Licencia</button>
								<button type="button" class="route" id="editAddress">Información Domiciliaria</button>
                                <button type="button" class="route" id="editObservations">Observaciones</button>
							</div>
							<div class="action">
								<button type="submit" class="main-btn"> 
									Guardar Operador 
									<i class="fa-solid fa-floppy-disk"></i>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
            <!-- Modal de Documentos -->
			<div class="popup" id="operatorDocuments">
                <div class="popup-close">
                <button class="close-btn" onclick="closePopups()"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="popup-container">
                <h2>Documentos de Operadores</h2>
                <div class="popup-data">
                    <div class="data-evidence" id="outBase">
                        <div class="evidence-row">
                            <b>1. Constancia Laboral</b>
                            <input id="checkId1" name="check" type="checkbox">
                        </div>
                        <div class="evidence-row">
                            <p id="uploadDate1"></p>
                            <p id="uploadTime1"></p>
                        </div>
                        <div class="evidence-row">
                            <button id="uploadBtnId1" class="upload-btn" onclick="uploadEvidence(1)">
                                Subir
                                <i class="fa-solid fa-upload"></i>
                            </button>
                            <button id="downloadBtnId1" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(1)">
                                Descargar
                                <i class="fa-solid fa-download"></i>
                            </button>
                        </div>
                    </div>
                    <div class="data-evidence" id="inPlant">
                        <div class="evidence-row">
                            <b>2. Identificación Oficial(INE)</b>
                            <input id="checkId2" name="check" type="checkbox">
                        </div>
                        <div class="evidence-row">
                            <p id="uploadDate2"></p>
                            <p id="uploadTime2"></p>
                        </div>
                        <div class="evidence-row">
                            <button id="uploadBtnId2" class="upload-btn" onclick="openValidityPopup(2)">
                                Subir
                                <i class="fa-solid fa-upload"></i>
                            </button>
                            <button id="downloadBtnId2" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(2)">
                                Descargar
                                <i class="fa-solid fa-download"></i>
                            </button>
                        </div>
                    </div>
                    <div class="data-evidence" id="startCharge">
                        <div class="evidence-row">
                            <b>3. Identificación de la Empresa</b>
                            <input id="checkId3" name="check" type="checkbox">
                        </div>
                        <div class="evidence-row">
                            <p id="uploadDate3"></p>
                            <p id="uploadTime3"></p>
                        </div>
                        <div class="evidence-row">
                            <button id="uploadBtnId3" class="upload-btn" onclick="uploadEvidence(3)">
                                Subir
                                <i class="fa-solid fa-upload"></i>
                            </button>
                            <button id="downloadBtnId3" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(3)">
                                Descargar
                                <i class="fa-solid fa-download"></i>
                            </button>
                        </div>
                    </div>
                    <div class="data-evidence" id="endCharge">
                        <div class="evidence-row">
                            <b>4. Último Grado de Estudios:</b>
                            <input id="checkId4" name="check" type="checkbox">
                        </div>
                        <div class="evidence-row">
                            <p id="uploadDate4"></p>
                            <p id="uploadTime4"></p>
                        </div>
                        <div class="evidence-row">
                            <button id="uploadBtnId4" class="upload-btn" onclick="uploadEvidence(4)">
                                Subir
                                <i class="fa-solid fa-upload"></i>
                            </button>
                            <button id="downloadBtnId4" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(4)">
                                Descargar
                                <i class="fa-solid fa-download"></i>
                            </button>
                        </div>
                    </div>
                    <div class="data-evidence" id="outPlant">
                        <div class="evidence-row">
                            <b>5. Cédula Profesional (OPCIONAL):</b>
                            <input id="checkId5" name="check" type="checkbox">
                        </div>
                        <div class="evidence-row">
                            <p id="uploadDate5"></p>
                            <p id="uploadTime5"></p>
                        </div>
                        <div class="evidence-row">
                            <button id="uploadBtnId5" class="upload-btn" onclick="uploadEvidence(5)">
                                Subir
                                <i class="fa-solid fa-upload"></i>
                            </button>
                            <button id="downloadBtnId5" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(5)">
                                Descargar
                                <i class="fa-solid fa-download"></i>
                            </button>
                        </div>
                    </div>
                    <div class="data-evidence" id="inPit">
                        <div class="evidence-row">
                            <b>6. Alta de IMSS</b>
                            <input id="checkId6" name="check" type="checkbox">
                        </div>
                        <div class="evidence-row">
                            <p id="uploadDate6"></p>
                            <p id="uploadTime6"></p>
                        </div>
                        <div class="evidence-row">
                            <button id="uploadBtnId6" class="upload-btn" onclick="uploadEvidence(6)">
                                Subir
                                <i class="fa-solid fa-upload"></i>
                            </button>
                            <button id="downloadBtnId6" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(6)">
                                Descargar
                                <i class="fa-solid fa-download"></i>
                            </button>
                        </div>
                    </div>
                    <div class="data-evidence" id="startDischarge">
                        <div class="evidence-row">
                            <b>7. Vales de entrega EPP</b>
                            <input id="checkId7" name="check" type="checkbox">
                        </div>
                        <div class="evidence-row">
                            <p id="uploadDate7"></p>
                            <p id="uploadTime7"></p>
                        </div>
                        <div class="evidence-row">
                            <button id="uploadBtnId7" class="upload-btn" onclick="openValidityPopup(7)">
                                Subir
                                <i class="fa-solid fa-upload"></i>
                            </button>
                            <button id="downloadBtnId7" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(7)">
                                Descargar
                                <i class="fa-solid fa-download"></i>
                            </button>
                        </div>
                    </div>
                    <div class="data-evidence" id="endDischarge">
                        <div class="evidence-row">
                            <b>8. Certificado Médico Vigente</b>
                            <input id="checkId8" name="check" type="checkbox">
                        </div>
                        <div class="evidence-row">
                            <p id="uploadDate8"></p>
                            <p id="uploadTime8"></p>
                        </div>
                        <div class="evidence-row">
                            <button id="uploadBtnId8" class="upload-btn" onclick="openValidityPopup(8)">
                                Subir
                                <i class="fa-solid fa-upload"></i>
                            </button>
                            <button id="downloadBtnId8" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(8)">
                                Descargar
                                <i class="fa-solid fa-download"></i>
                            </button>
                        </div>
                    </div>
                    <div class="data-evidence" id="outPit">
                        <div class="evidence-row">
                            <b>9. Examen Antidoping</b>
                            <input id="checkId9" name="check" type="checkbox">
                        </div>
                        <div class="evidence-row">
                            <p id="uploadDate9"></p>
                            <p id="uploadTime9"></p>
                        </div>
                        <div class="evidence-row">
                            <button id="uploadBtnId9" class="upload-btn" onclick="openValidityPopup(9)">
                                Subir
                                <i class="fa-solid fa-upload"></i>
                            </button>
                            <button id="downloadBtnId9" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(9)">
                                Descargar
                                <i class="fa-solid fa-download"></i>
                            </button>
                        </div>
                    </div>
                    <div class="data-evidence" id="outPit">
                        <div class="evidence-row">
                            <b>9. Licencia:</b>
                            <input id="checkId10" name="check" type="checkbox">
                        </div>
                        <div class="evidence-row">
                            <p id="uploadDate10"></p>
                            <p id="uploadTime10"></p>
                        </div>
                        <div class="evidence-row">
                            <button id="uploadBtnId10" class="upload-btn" onclick="uploadEvidence(10)">
                                Subir
                                <i class="fa-solid fa-upload"></i>
                            </button>
                            <button id="downloadBtnId10" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(10)">
                                Descargar
                                <i class="fa-solid fa-download"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
			

			<!-- Modal de Documentos-->
			<div class="popup" id="editValidity">
				<div class="popup-close">
					<button class="close-btn" onclick="closePopups()"><i class="fa-solid fa-xmark"></i></button>
				</div>
				<div id="editvalidityForm" class="popup-container">
					<h2>Añadir Informacion del Documento</h2>
					<div class="popup-views">
							<div class="view left">
								<div class="edit validity">
									<h5>Información del documento</h5>
									<div class="space">
										
										<div class="entry">
											<label for="licenseFile">Documento Digital:</label>
											<input type="file" id="evidenceValidityFile" name="licenseFile"> 
										</div>
										
										<div class="entry">
											<label for="licenseValidity">Vigencia del Documento:</label>
											<input type="date"  id="evidenceValidityDate" name="licenseValidity"> 
										</div>
									</div>
								</div>
							</div>
							<div class="view right">
								
								<div class="action">
									<button type="submit" class="main-btn" onclick="uploadValidityDocument()"> 
										Guardar Información
										<i class="fa-solid fa-floppy-disk"></i>
									</button>
								</div>
							</div>
					</div>
				</div>
			</div>
			
			<!-- Modal de gastos adicionales-->
			<div class="popup" id="createAditional">
				<div class="popup-closer">
					<button class="close-btn" onclick="closePopups()">
						<i class="fa-solid fa-xmark"></i>
					</button>
				</div>
				<div  class="contenedor max">
					<h2>Gastos Adicionales</h2> 
					<button class="main-btn1" onclick="openAddPopup()"> Agregar<i class="fa-solid fa-plus"></i></button>
					<table id="aditionalGs" class="table table-borderless">		
						<thead>
							<tr>													
								<th>ID</th>			
								<th>Nombre del Concepto</th>						
								<th>Precio</th>			
								<th>Fecha</th>				
								<th>Vigencia</th>		
								<th>Editar</th>		
								<th>Evidencia</th>	
							</tr>			
						</thead>
					</table>
				</div>
			</div>
			<!-- Modal de Adicional Creacion -->
			<div class="popup" id="createAditonalG">
				<div class="popup-close">
					<button class="close-btn" onclick="closePopups()"><i class="fa-solid fa-xmark"></i></button>
				</div>
				<form id="createFormAdd" class="popup-container">
					<h2>Añadir Gasto Adicional</h2>
					<div class="popup-views">
						<div class="view left">
							<div class="edit add">
								<h5>Información del gasto</h5>
								<input type="number" id="editAdd" hidden=true>
								<div class="space">
								    <div class="entry">
									    <label for="name">Tipo de concepto:</label>
										<select id="addConcept" name="name">
											<option value="">Seleccionar una opcion</option>
											<option value="Certificacion de personal">Certificacion de personal</option>
											<option value="Incentivos">Incentivos</option>
											<option value="Nomina">Nomina</option>
										</select>									
									 </div>
									 <div class="entry">
									    <label for="name">Descripcion de concepto:</label>
										<input type="text"  id="addDescription" name="name"> 										
									 </div>
									 <div class="entry">
									    <label for="date">Fecha de pago:</label>
										<input type="date"  id="addDate" name="date"> 										
									 </div>
									 <div class="entry">
									    <label for="name">Precio:</label>
										<input type="text"  id="addCost" name="name"> 										
									 </div>
									 <div class="entry">
									    <label for="date">Vigencia:</label>
										<input type="date"  id="addVigen" name="date"> 										
									 </div>
									 <div class="entry">
									    <label for="name">Dias:</label>
										<input type="text"  id="addDays" name="name" readonly> 										
									 </div>
									 <div class="entry">
									    <label for="name">Total por dia:</label>
										<input type="text"  id="addTotal" name="name" readonly> 										
									 </div>
									 <div class="entry">
									    <label for="name">Estatus:</label>
										<select id="addStatus" name="name">
											<option value="">Seleccionar una opcion</option>
											<option value="Pagado">Pagado</option>
											<option value="Por pagar">Por pagar</option>
											<option value="Prestamo">Prestamo</option>
										</select>									
									 </div>
								</div>
							</div>
						</div>
						<div class="view right">
							<div class="routes">
				                <button type="button" class="route active" id="createAdd">Información de gastos adicionales</button>
							</div>
							<div class="action">
								<button type="submit" class="main-btn"> 
									Crear Gasto Adicional
									<i class="fa-solid fa-floppy-disk"></i>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			
			<!-- Modal de Adicional Edicion -->
			<div class="popup" id="editAditonalG">
				<div class="popup-close">
					<button class="close-btn" onclick="closePopups()"><i class="fa-solid fa-xmark"></i></button>
				</div>
				<form id="editFormAdd" class="popup-container">
					<h2>Editar Gasto Adicional</h2>
					<div class="popup-views">
						<div class="view left">
							<div class="edit add">
								<h5>Información del gasto</h5>
								<input type="number" id="editAditional" hidden=true>
								<div class="space">
								    <div class="entry">
									    <label for="name">Tipo de concepto:</label>
										<select id="editAddConcept" name="name">
											<option value="">Seleccionar una opcion</option>
											<option value="Certificacion de personal">Certificacion de personal</option>
											<option value="Incentivos">Incentivos</option>
											<option value="Nomina">Nomina</option>
										</select>									
									 </div>
									 <div class="entry">
									    <label for="name">Descripcion de concepto:</label>
										<input type="text"  id="editAddDescription" name="name"> 										
									 </div>
									 <div class="entry">
									    <label for="date">Fecha de pago:</label>
										<input type="date"  id="editAddDate" name="date"> 										
									 </div>
									 <div class="entry">
									    <label for="name">Precio:</label>
										<input type="text"  id="editAddCost" name="name"> 										
									 </div>
									 <div class="entry">
									    <label for="date">Vigencia:</label>
										<input type="date"  id="editAddVigen" name="date"> 										
									 </div>
									 <div class="entry">
									    <label for="name">Dias:</label>
										<input type="text"  id="editAddDays" name="name" readonly> 										
									 </div>
									 <div class="entry">
									    <label for="name">Total por dia:</label>
										<input type="text"  id="editAddTotal" name="name" readonly> 										
									 </div>
									 <div class="entry">
									    <label for="name">Estatus:</label>
										<select id="editAddStatus" name="name">
											<option value="">Seleccionar una opcion</option>
											<option value="Pagado">Pagado</option>
											<option value="Por pagar">Por pagar</option>
											<option value="Prestamo">Prestamo</option>
										</select>									
									 </div>
								</div>
							</div>
						</div>
						<div class="view right">
							<div class="routes">
				                <button type="button" class="route active" id="editAdd">Información de gastos adicionales</button>
							</div>
							<div class="action">
								<button type="submit" class="main-btn"> 
									Editar Gasto Adicional
									<i class="fa-solid fa-floppy-disk"></i>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- Modal de Documentos de gastos adicionales -->
			<div class="popup" id="addDocuments">
				<div class="popup-close">
					<button class="close-btn" onclick="closePopups()"><i class="fa-solid fa-xmark"></i></button>
				</div>
				<div class="popup-container">
					<h2>Documentos de Gastos Adicionales</h2>
					<div class="popup-data">
						<div class="data-evidence" id="outBase">
							<div class="evidence-row">
								<b>1. Factura:</b>
								<input id="checkId10" name="check" type="checkbox">
							</div>
							<div class="evidence-row">
								<p id="uploadDate10"></p>
								<p id="uploadTime10"></p>
							</div>
							<div class="evidence-row">
								<button id="uploadBtnId10" class="upload-btn" onclick="openValidityPopup(10)">
									Subir
									<i class="fa-solid fa-upload"></i>
								</button>
								<button id="downloadBtnId10" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(10)">
									Descargar
									<i class="fa-solid fa-download"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<input type="file" hidden="true" id="updloadFile">
			<form action="#" th:action="@{/catalog/operators/viewEvidence}" target="_blank">
				<input type="number" id="checklistId" hidden="true" name="evicenceChecklist">
				<input type="number" id="operatorIdFile" hidden="true" name="evidenceOperatorId">
				<button id="testButton" class="btn btn-dark btn-sm btn-block" type="submit" hidden="true"></button>
			</form>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
			<script type="text/javascript" th:src="@{/js/catalog/operators.js}"></script>
		</section>
	</body>
</html>