<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{fragments/layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" /> 
	<link rel="stylesheet" type="text/css" th:href="@{/css/catalog/routeLoza.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <title>NEO | RUTAS</title>
</head>
	<body>
		<section layout:fragment="content" th:remove="tag">
			<div class="custome-table">
				<div class="table-title">
					<h2>Lista de rutas Lozagui</h2>
					<button class="main-btn" onclick="openCreatePopup()"><i class="fa-solid fa-route"></i> Nueva ruta</button>
				</div>
				<div class="card-table">
					<table id="routeTable" class="table table-borderless">
						<thead>
							<tr>
								<th>ID</th>
								<th>Ruta</th>
								<th>Cliente</th>
								<th>Tipo Eco</th>
								<th>Tipo de Remolque</th>
								<th>Tipo de Servicio</th>
								<th>Precio ruta</th>
								<th>Editar ruta</th>
								<th>Actualizar costos</th>

							</tr>
						</thead>
					</table>
				</div>
			</div>
			<!-- Modal de Edición -->
			<div class="popup" id="editRoute">
				<div class="popup-close">
					<button class="close-btn" onclick="closePopups()"><i class="fa-solid fa-xmark"></i></button>
				</div>
				<form id="editRouteForm" class="popup-container">
					<h2>Editar Ruta</h2>
					<div class="popup-views">
						<div class="view left">
							<div class="edit general">
								<h5>Información General</h5>
								<input type="number" id="editId" hidden=true>
								<div class="space">
									<div class="entry">
										<label for="locality">Localidad de Origen:</label>
										<select  class="js-example-basic-single" id="editLocalityOrigin" name="districtOrigin" onchange="fillOriginEdit()">
											<option>Selecciona una opción</option>
											<option th:each="option : ${catDestiny}" th:value="${option.destinyId}" th:text="${option.destinyLocation}"></option>
										</select>
									</div>	
									<div class="entry" hidden=true>
										<label for="code">Nombre de Origen:</label>
										<input type="text" id="editOriginName" name="code">
									</div>
									<div class="entry" hidden=true>
										<label for="code">Id GPS:</label>
										<input type="text" id="editOriginGPS" name="code">
									</div>		
									<div class="entry">
										<label for="destination">Localidad de Destino:</label>
										<select  class="js-example-basic-single" id="editLocalityDestination" name="districtDestination" >
											<option>Selecciona una opción</option>
											<option th:each="option : ${catDestiny}" th:value="${option.destinyId}" th:text="${option.destinyLocation}"></option>
										</select>
									</div>
									<div class="entry" hidden=true>
										<label for="code">Nombre de Destino:</label>
										<input type="text" id="editDestinyName" name="code">
									</div>
									<div class="entry" hidden=true>
										<label for="code">Id GPS:</label>
										<input type="text" id="editDestinyGPS" name="code">
									</div>
									
									<div class="entry">
										<label for="combinedRoute">Ruta Combinada:</label>
										<input type="text" id="editCombinedRoute" name="combinedRoute" readonly>
									</div>
									<div class="entry" >
										<label for="codeClient">Cliente:</label>
										<input type="text" id="editClientName" name="code" readonly> 
									</div>		
									
									<div class="entry">
										<label for="serviceo">Tipo de Servicio:</label>
										<select id="editServiceType" name="typeEco">
											<option>Selecciona una opción</option>
											<option value="SEN">Normal</option>
											<option value="MULTI">Multi-Servicio</option>
										</select>
									</div>			


									<div class="entry">
										<label for="typeEco">Tipo de ECO:</label>
										<select id="editTypeEco" name="typeEco">
											<option>Selecciona una opción</option>
											<option value="Sencillo">Sencillo</option>
											<option value="Full">Full</option>
										</select>
									</div>		
									<div class="entry">
										<label for="trailerType">Tipo de Remolque:</label>
										<select id="editTrailerType" name="trailerType">
												<option value="">Seleccionar Tipo</option>
												<option value="UPV">UPV</option>
												<option value="GONDOLA">GÓNDOLA</option>
												<option value="PLATAFORMA">PLATAFORMA</option>
												<option value="LOWBOY">LOWBOY</option>
												<option value="FRACTANK">FRACTANK</option>
												<option value="DOLLY">DOLLY</option>									        
												<option value="CAJA SECA">CAJA SECA</option>	
												<option value="PORTACONTENEDOR">PORTACONTENEDOR</option>
												<option value="TERMO">TERMO</option>								              
										</select>
									</div>
									<div class="entry">
										<label for="priceSer">Costo del Servicio:</label>
										<input type="text"  id="editCostService" name="description"> 
									</div>
								</div>		
							</div>
						</div>
						<div class="view right">
							<div class="routes">
								<button type="button" class="route active" id="editGeneral">Información General</button>
							</div>
							<div class="action">
								<button type="submit" class="main-btn"> 
									Guardar Localidad
									<i class="fa-solid fa-floppy-disk"></i>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- Modal de Creación -->
			<div class="popup" id="createRoute">
				<div class="popup-close">
					<button class="close-btn" onclick="closePopups()"><i class="fa-solid fa-xmark"></i></button>
				</div>
				<form id="createRouteForm" class="popup-container">
					<h2>Agregar ruta</h2>
					<div class="popup-views">
						<div class="view left">
							<div class="edit general">
								<div class="space">
									<div class="entry">
										<label for="locality">Localidad de Origen:</label>
										<select  class="js-example-basic-single" id="createLocalityOrigin" name="districtOrigin" onchange="fillOriginCreate(),updateCombinedField()">
											<option>Selecciona una opción</option>
											<option th:each="option : ${catDestiny}" th:value="${option.destinyId}" th:text="${option.destinyLocation}"></option>
										</select>
									</div>	
									<div class="entry" hidden=true>
										<label for="code">Nombre de Origen:</label>
										<input type="text" id="createOriginName" name="code"> 
									</div>
									<div class="entry" hidden=true>
										<label for="code">Id GPS:</label>
										<input type="text" id="createOriginGPS" name="code">
									</div>
									<div class="entry">
										<label for="destination">Localidad de Destino:</label>
										<select  class="js-example-basic-single" id="createLocalityDestination" name="districtDestination" onchange="fillDestinyCreate(),updateCombinedField()">
											<option>Selecciona una opción</option>
											<option th:each="option : ${catDestiny}" th:value="${option.destinyId}" th:text="${option.destinyLocation}"></option>
										</select>
									</div>
									<div class="entry" hidden=true>
										<label for="code">Nombre de Destino:</label>
										<input type="text" id="createDestinyName" name="code" > 
									</div>
									<div class="entry" hidden=true>
										<label for="code">Id GPS:</label>
										<input type="text" id="createDestinyGPS" name="code">
									</div>
									
									<div class="entry">
										<label for="combinedRoute">Ruta Combinada:</label>
										<input type="text" id="combinedRoute" name="combinedRoute" readonly> 
									</div>	
									<div class="entry">
										<label for="serveo">Tipo de Servicio:</label>
										<select id="createServiceType" name="typeEco">
											<option>Selecciona una opción</option>
											<option value="SEN">Normal</option>
											<option value="MULTI">Multi-Servicio</option>
										</select>
									</div>	

									<div class="entry">
										<label for="createClient">Cliente:</label>
										<select  class="js-example-basic-single" id="createClient" name="client" onchange="fillName()">
											<option value="">Seleccione un cliente</option>
											<option th:each="option : ${catClient}" th:value="${option.clientId}" th:text="${option.clientBusinessName}"></option>
										</select>
									</div>	

									<div class="entry" >
										<label for="code">Nombre:</label>
										<input type="text" id="createClientName" name="code">
									</div>
									
									<div class="entry">
										<label for="typeEco">Tipo de ECO:</label>
										<select id="createTypeEco" name="typeEco">
											<option>Selecciona una opción</option>
											<option value="Sencillo">Sencillo</option>
											<option value="Full">Full</option>
										</select>
									</div>

								<div class="entry">
								<label for="trailerType">Tipo de Remolque:</label>
								<select id="createTrailerType" name="trailerType">
										<option value="">Seleccionar Tipo</option>
										<option value="UPV">UPV</option>
										<option value="GONDOLA">GÓNDOLA</option>
										<option value="PLATAFORMA">PLATAFORMA</option>
										<option value="LOWBOY">LOWBOY</option>
										<option value="FRACTANK">FRACTANK</option>
										<option value="DOLLY">DOLLY</option>									        
										<option value="CAJA SECA">CAJA SECA</option>	
										<option value="PORTACONTENEDOR">PORTACONTENEDOR</option>
										<option value="TERMO">TERMO</option>								              
								</select>
							</div>
									<div class="entry">
										<label for="priceSer">Costo del Servicio:</label>
										<input type="text"  id="createCostService" name="description"> 
									</div>
								</div>
							</div>
						</div>
						<div class="view right">
							<div class="routes">
								<button type="button" class="route active" id="createGeneral">Información de Rutas</button>
							</div>
							<div class="action">
								<button type="submit" class="main-btn"> 
									Crear Localidad
									<i class="fa-solid fa-floppy-disk"></i>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>

 		<input type="file" hidden="true" id="updloadFile">
			<form action="#" th:action="@{/warehouse/rims/viewEvidence}" target="_blank">
				<input type="number" id="checklistId" hidden="true" name="evicenceChecklist">
				<input type="number" id="rimIdFile" hidden="true" name="evidenceRimsId">
				<button id="testButton" class="btn btn-dark btn-sm btn-block" type="submit" hidden="true"></button>
			</form>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
			<script type="text/javascript" th:src="@{/js/catalog/routeLoza.js}"></script>
		</section>
	</body>
</html>