<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{fragments/layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" /> 
	<link rel="stylesheet" type="text/css" th:href="@{/css/catalog/units.css}" /> 
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>NEO | UNIDADES</title>
</head>
	<body>
		<section layout:fragment="content" th:remove="tag">
			<!-- Tabla de Unidades -->
			<div class="custome-table">
				<div class="table-title">
					<h2>Lista de Unidades</h2>
                    <div class="table-status">
                        <div class="indicators">
							<h4>Indicadores de Estado de la Unidad: </h4>
                            <div class="indicator">
                                <p class="status1"></p>
                                <b>Disponible</b>
                            </div>
                            <div class="indicator">
                                <p class="status3"></p>
                                <b>En Operación</b>
                            </div>
                            <div class="indicator">
                                <p class="status4"></p>
                                <b>En Mantenimiento</b>
                            </div>
                            <div class="indicator">
                                <p class="status5"></p>
                                <b>Fuera de Operación</b>
                            </div>
                            <div class="indicator">
                                <p class="status6"></p>
                                <b>Sinisestrado</b>
                            </div>
                            <div class="indicator">
                                <p class="status7"></p>
                                <b>Robado</b>
                            </div>
                        </div>
                    </div>
					<button class="main-btn" onclick="openCreatePopup()"> <i class="fa-solid fa-car-side"></i>Nueva Unidad </button>
				</div>
				<div class="card-table">
					<table id="unitsTable" class="table table-borderless">
						<thead>
							<tr>
								<th></th>
								<th>ID</th>
								<th>Tipo de Unidad</th>
								<th>Número de ECO</th>
								<th>Marca</th>
								<th>Propietario</th>
								<th>Unidad Rentada</th>
								<th>Proyecto Actual</th>
								<th>Documentación</th>
								<th>Edición</th>
								<th>GPS</th>
								<th>Gastos Adicionales</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
            <!-- Modal de Creación -->
			<div class="popup" id="createUnit">
				<div class="popup-close">
					<button class="close-btn" onclick="closePopups()"><i class="fa-solid fa-xmark"></i></button>
				</div>
				<form id="createForm" class="popup-container">
					<h2>Crear Unidad</h2>
					<div class="popup-views">
						<div class="view left">
							<div class="edit general">
								<h5>Información General</h5>
								<div class="space">
									<div class="entry">
										<label for="unitType">Tipo de Unidad:</label>
										<select class="js-example-basic-single" id="createUnitType" name="unitType">
										
											<option value="">Seleccionar Tipo</option>
											<option th:each="option : ${catUnitType}" th:value="${option.typeId}" th:text="${option.typeDescription}"></option>
										</select>
									</div>
									<div class="entry">
										<label for="ecoNumber">Número de ECO:</label>
										<input type="text"  id="createEcoNumber" name="ecoNumber"> 
									</div>
									<div class="entry">
										<label for="imeiEco">Número IMEI(GPS):</label>
										<input type="text"  id="createImei" name="imeiEco"> 
									</div>
									<div class="entry">
										<label for="brand">Marca:</label>
										<input type="text"  id="createBrand" name="brand"> 
									</div>
									<div class="entry">
										<label for="model">Modelo:</label>
										<input type="text"  id="createModel" name="model"> 
									</div>
									<div class="entry">
										<label for="serialNumber">Número de Serie:</label>
										<input type="text"  id="createSerialNumber" name="serialNumber"> 
									</div>
									<div class="entry">
										<label for="unitPlate">Placa:</label>
										<input type="text"  id="createUnitPlate" name="unitPlate"> 
									</div>
									<div class="entry">
										<label for="unitProperty">Propietario:</label>
										<select id="createUnitProperty" name="unitProperty">
											    <option value="">Seleccionar una opción</option>
												<option value="ALBERTINA CRUZ AGUILAR">ALBERTINA CRUZ AGUILAR</option>
												<option value="TRANSPORTE ALICANTE DEL NORTE">TRANSPORTE ALICANTE DEL NORTE</option>
												<option value="AMANDO ALDERETE">AMANDO ALDERETE</option>
												<option value="AUSTREBERTO LOZADA">AUSTREBERTO LOZADA</option>
												<option value="AUTOTRANSPORTES CARECO SA DE CV">AUTOTRANSPORTES CARECO SA DE CV</option>
												<option value="CARMELO LOZADA AGUILAR">CARMELO LOZADA AGUILAR</option>
												<option value="PICO MEXICO SERVICIOS PETROLEROS (CPA)">PICO MEXICO SERVICIOS PETROLEROS (CPA)</option>
												<option value="GRUPO LOZAGUI">GRUPO LOZAGUI</option>
												<option value="MIGUEL ANGEL LOZADA AGUILAR">MIGUEL ANGEL LOZADA AGUILAR</option>
												<option value="OMAR LOZADA AGUILAR">OMAR LOZADA AGUILAR</option>
												<option value="SRA MARIBEL">SRA MARIBEL</option>
    								    </select>
    							   </div>
    							   <div class="entry">
										<label for="company">Empresa:</label>
										<select id="createCompany" name="company">
											    <option value="">Seleccionar Empresa</option>
										        <option value="Lozagui">Lozagui</option>
										        <option value="Petrosmart">Petrosmart</option>
										        <option value="Autofletes">Autofletes</option>
    								    </select>
    							   </div>
    							     <div class="entry">
										<label for="localidad">Localidad:</label>
										<select id="createLocalidad" name="localidad">
											    <option value="">Seleccione una opcion</option>
											    <option value="Villahermosa">Villahermosa</option>
										        <option value="Altamira">Altamira</option>
										        <option value="Poza Rica">Poza Rica</option>  
										        <option value="Puebla">Puebla</option>  
										         
    								    </select>
    							   </div>
									<div class="entry">
										<label for="unitState">Estado la Unidad:</label>
										<select id="createUnitState" name="unitState"  onchange="fillIncidents2()">
											    <option value="">Seleccionar Estado</option>
										        <option value="1">Disponible</option>
										        <option value="3">En Operación</option>
										        <option value="4">En Mantenimiento</option>
										        <option value="5">Fuera de Operación</option>
										        <option value="6">Siniestrados</option>
										        <option value="7">Robado</option>
    								    </select>
    							    </div>
    							   <div class="entry" id="cs1">
										<label for="unitPlate">Fecha del incidente:</label>
										<input type="date"  id="createIncidentDate" name="unitPlate"> 
									</div>
									<div class="entry" id="cs2">
										<label for="unitRent">¿Estatus de la aseguradora?</label>
										<select id="createIncidentStatusA" name="unitRent">
											    <option value="">Selecciona una opcion</option>
										        <option value="Sin respuesta">Sin respuesta</option>
										        <option value="Rechazado">Rechazado</option>
										        <option value="Pagado">Pagado</option>
										        <option value="No aplica">No aplica</option>
    								    </select>
    							    </div>
    							    <div class="entry" id="cs3">
										<label for="unitRent">¿Estatus de la reparacion?</label>
										<select id="createIncidentStatusR" name="unitRent">
											    <option value="">Selecciona una opcion</option>
										        <option value="Sin respuesta">Sin respuesta</option>
										        <option value="Rechazado">Rechazado</option>
										        <option value="Pagado">Pagado</option>
										        <option value="No aplica">No aplica</option>
    								    </select>
    							    </div>
    							    <div class="entry" id="cs4">
										<label for="unitPlate">Comentarios ministerio publico:</label>
										<input type="text"  id="createIncidentMinistery" name="unitPlate"> 
									</div>
									<div class="entry" id="cs5">
										<label for="unitRent">¿Estatus de carga?</label>
										<select id="createIncidentStatusC" name="unitRent">
											    <option value="">Selecciona una opcion</option>
										        <option value="Dañada">Dañada</option>
										        <option value="Recuperada">Recuperada</option>
										        <option value="Sin daño">Sin daño</option>
										        <option value="Perdida total">Perdida total</option>
										        <option value="Perdida parcial">Perdida parcial</option>
    								    </select>
    							    </div>
    							    <div class="entry" id="cr1">
										<label for="unitPlate">Dia del robo:</label>
										<input type="date"  id="createTheftDate" name="unitPlate"> 
									</div>
									<div class="entry" id="cr2">
										<label for="unitPlate">Estatus del gestor:</label>
										<input type="text"  id="createTheftStatusG" name="unitPlate"> 
									</div>
									<div class="entry" id="cr3">
										<label for="unitRent">¿Unidad robada?</label>
										<select id="createTheftStatusU" name="unitRent">
											    <option value="">Selecciona una opcion</option>
										        <option value="Tractocamion">Tractocamion</option>
										        <option value="Plataformas">Plataformas</option>
										        <option value="Mercancia">Mercancia</option>
										        <option value="Dolly">Dolly</option>
										        <option value="Toda">Toda</option>
    								    </select>
    							    </div>
    							    <div class="entry" id="cr4">
										<label for="unitPlate">Mercancia Transportada:</label>
										<input type="text"  id="createTheftStatusM" name="unitPlate"> 
									</div>
									<div class="entry" id="cr5">
										<label for="client">Cliente:</label>
										<select class="js-example-basic-single" name="client" id="createTheftStatusC">
											<option value="0">Seleccionar Cliente</option>
											<option th:each="option : ${catClient}" th:value="${option.clientId}" th:text="${option.clientBusinessName}"></option>
										</select>
									</div>
									<div class="entry">
										<label for="unitRent">¿La Unidad es Rentada?</label>
										<select id="createUnitRent" name="unitRent">
											    <option value="">Seleccionar</option>
										        <option value="Si">Si</option>
										        <option value="No">No</option>
    								    </select>
    							    </div>
								</div>
							</div>
							<!-- Modal de Creacion poliza-->
							<div class="edit insurance">
								<h5>Póliza de Seguro</h5>
								<div class="space">
									<div class="entry">
										<label for="insuranceNumber">Número de Póliza de Seguro:</label>
										<input type="text"  id="createInsuranceNumber" name="insuranceNumber"> 
									</div>
									<div class="entry">
										<label for="aseguradora">Aseguradora Responsable:</label>
										<select name="aseguradora" id="createCpAseguradoraResponsable">
											<option value="">Seleccione Aseguradora</option>
											<option value="Qualitas">Qualitas</option>
											<option value="GNP">GNP</option>
											<option th:each="option : ${catLocations}" th:value="${option.locationId}" th:text="|${option.locationCity}, ${option.locationState}|"></option>
										</select>
									</div>
									<div class="entry">
										<label for="insuranceNumber">Inciso:</label>
										<input type="text"  id="createInsuranceSub" name="insuranceNumber"> 
									</div>
									<div class="entry">
										<label for="insuranceNumber">Endoso:</label>
										<input type="text"  id="createInsuranceEndo" name="insuranceNumber"> 
									</div>
									<div class="entry">
										<label for="startInsurance">Fecha de Inicio de Póliza de Seguro:</label>
										<input type="date"  id="createStartInsurance" name="startInsurance"> 
									</div>
									<div class="entry">
										<label for="endInsurance">Fecha de Fin de Póliza de Seguro:</label>
										<input type="date"  id="createEndInsurance" name="endInsurance"> 
									</div>
								</div>
							</div>
							<!-- Modal de Creación de Permiso SCT-->
							<div class="edit permission">
								<h5>Permiso SCT</h5>
								<div class="space">
									<div class="entry">
										<label for="SCT">Permiso SCT:</label>
										<select name="SCT" id="createPermisoSct">
											<option value="">Seleccione Permiso</option>
											<option th:each="option : ${catTipoPermisos}" th:value="${option.clavePermiso}" th:text="|${option.clavePermiso}- ${option.descripcionPermiso}|"></option>
										</select>
									</div>
									<div class="entry">
										<label for="autotransportable">Tipo de Autotransporte:</label>
										<select name="autotransportable" id="createTipoAutotransportable">
											<option value="">Seleccionar Autotransporte</option>
											<option th:each="option : ${catConfigAutoTransporte}" th:value="${option.claveAutoTrans}" th:text="|${option.claveAutoTrans}- ${option.descripcionAutoTrans}|"></option>
										</select>
									</div>
									<div class="entry">
										<label for="permiso">Numero de Permiso:</label>
										<input type="text"  id="createNumeroPermiso" name="permiso"> 
									</div>
								</div>
							</div>
						</div>
						<div class="view right">
							<div class="routes">
								<button type="button" class="route active" id="createGeneral">Información General</button>
								<button type="button" class="route" id="createInsurance">Póliza de Seguro</button>
								<button type="button" class="route" id="createPermission">Permiso STC</button>
							</div>
							<div class="action">
								<button type="submit" class="main-btn">
									Crear Unidad
									<i class="fa-solid fa-floppy-disk"></i>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
            <!-- Modal de Edición -->
			<div class="popup" id="editUnit">
				<div class="popup-close">
					<button class="close-btn" onclick="closePopups()"><i class="fa-solid fa-xmark"></i></button>
				</div>
				<form id="editForm" class="popup-container">
					<h2>Editar Unidad</h2>
					<div class="popup-views">
						<div class="view left">
							<div class="edit general">
								<h5>Información General</h5>
								<input type="number" id="editId" hidden=true>
								<div class="space">
									<div class="entry">
										<label for="unitType">Tipo de Unidad:</label>
										<select class="js-example-basic-single" id="editUnitType" name="unitType">
										
											<option value="">Seleccionar Tipo</option>
											<option th:each="option : ${catUnitType}" th:value="${option.typeId}" th:text="${option.typeDescription}"></option>
										</select>
									</div>
									<div class="entry">
										<label for="ecoNumber">Número de ECO:</label>
										<input type="text"  id="editEcoNumber" name="ecoNumber"> 
									</div>
									<div class="entry">
										<label for="imeiEco">Número IMEI(GPS):</label>
										<input type="text"  id="editImei" name="imeiEco"> 
									</div>
									<div class="entry">
										<label for="brand">Marca:</label>
										<input type="text"  id="editBrand" name="brand"> 
									</div>
									<div class="entry">
										<label for="model">Modelo:</label>
										<input type="text"  id="editModel" name="model"> 
									</div>
									<div class="entry">
										<label for="serialNumber">Número de Serie:</label>
										<input type="text"  id="editSerialNumber" name="serialNumber"> 
									</div>
									<div class="entry">
										<label for="unitPlate">Placa:</label>
										<input type="text"  id="editUnitPlate" name="unitPlate"> 
									</div>
									<div class="entry" >
										<label for="district">Coordinador:</label>
										<select name="distriwct" id="editDistrict">
											<option value="0">Seleccionar Coordinador</option>
											<option th:each="option : ${catDistrict}" th:value="${option.districtId}" th:text="${option.districtNameResponsible}"></option>
										</select>
									</div>
									<div class="entry">
										<label for="unitProperty">Propietario:</label>
										<select id="editUnitProperty" name="unitProperty">
											    <option value="">Seleccionar una opción</option>
												<option value="ALBERTINA CRUZ AGUILAR">ALBERTINA CRUZ AGUILAR</option>
												<option value="TRANSPORTE ALICANTE DEL NORTE">TRANSPORTE ALICANTE DEL NORTE</option>
												<option value="AMANDO ALDERETE">AMANDO ALDERETE</option>
												<option value="AUSTREBERTO LOZADA">AUSTREBERTO LOZADA</option>
												<option value="AUTOTRANSPORTES CARECO SA DE CV">AUTOTRANSPORTES CARECO SA DE CV</option>
												<option value="CARMELO LOZADA AGUILAR">CARMELO LOZADA AGUILAR</option>
												<option value="PICO MEXICO SERVICIOS PETROLEROS (CPA)">PICO MEXICO SERVICIOS PETROLEROS (CPA)</option>
												<option value="GRUPO LOZAGUI">GRUPO LOZAGUI</option>
												<option value="MIGUEL ANGEL LOZADA AGUILAR">MIGUEL ANGEL LOZADA AGUILAR</option>
												<option value="OMAR LOZADA AGUILAR">OMAR LOZADA AGUILAR</option>
												<option value="SRA MARIBEL">SRA MARIBEL</option>
    								    </select>
    							   </div>
    							   <div class="entry">
										<label for="company">Empresa:</label>
										<select id="editCompany" name="company">
											    <option value="">Seleccionar Empresa</option>
										        <option value="Lozagui">Lozagui</option>
										        <option value="Petrosmart">Petrosmart</option>
										        <option value="Autofletes">Autofletes</option>
    								    </select>
    							   </div>
    							     <div class="entry">
										<label for="localidad">Localidad:</label>
										<select id="editLocalidad" name="localidad">
											    <option value="">Seleccione una opcion</option>
											    <option value="Villahermosa">Villahermosa</option>
										        <option value="Altamira">Altamira</option>
										        <option value="Poza Rica">Poza Rica</option>  
										        <option value="Puebla">Puebla</option>  
										         
    								    </select>
    							   </div>
									<div class="entry">
										<label for="unitStatus">Estado la Unidad:</label>
										<select id="editUnitStatus" name="unitStatus" onchange="fillIncidents()">
											    <option value="">Seleccionar Estado</option>
										        <option value="1">Disponible</option>
										        <option value="3">En Operación</option>
										        <option value="4">En Mantenimiento</option>
										        <option value="5">Fuera de Operación</option>
										        <option value="6">Siniestrados</option>
										        <option value="7">Robado</option>
    								    </select>
    							   </div>
    							   <div class="entry" id="m1">
										<label for="unitPlate">Fecha del mantenimiento:</label>
										<input type="date"  id="editManDate" name="name"> 
									</div>
									<div class="entry" id="m3">
										<label for="unitPlate">Descripcion del mantenimiento:</label>
										<input type="text"  id="editManDesc" name="name"> 
									</div>
									<div class="entry" id="m2">
										<label for="unitRent">¿Estatus del mantenimiento?</label>
										<select id="editStatusMan" name="name">
											    <option value="">Selecciona una opcion</option>
										        <option value="En reparacion">En reparacion</option>
										        <option value="En espera de piezas">En espera de piezas</option>
										        <option value="Concluida">Concluida</option>
    								    </select>
    							    </div>
    							   <div class="entry" id="s1">
										<label for="unitPlate">Fecha del incidente:</label>
										<input type="date"  id="editIncidentDate" name="unitPlate"> 
									</div>
									<div class="entry" id="s2">
										<label for="unitRent">¿Estatus de la aseguradora?</label>
										<select id="editIncidentStatusA" name="unitRent">
											    <option value="">Selecciona una opcion</option>
										        <option value="Sin respuesta">Sin respuesta</option>
										        <option value="Rechazado">Rechazado</option>
										        <option value="Pagado">Pagado</option>
										        <option value="No aplica">No aplica</option>
    								    </select>
    							    </div>
    							    <div class="entry" id="s3">
										<label for="unitRent">¿Estatus de la reparacion?</label>
										<select id="editIncidentStatusR" name="unitRent">
											    <option value="">Selecciona una opcion</option>
										        <option value="Sin respuesta">Sin respuesta</option>
										        <option value="Rechazado">Rechazado</option>
										        <option value="Pagado">Pagado</option>
										        <option value="No aplica">No aplica</option>
    								    </select>
    							    </div>
    							    <div class="entry" id="s4">
										<label for="unitPlate">Comentarios ministerio publico:</label>
										<input type="text"  id="editIncidentMinistery" name="unitPlate"> 
									</div>
									<div class="entry" id="s5">
										<label for="unitRent">¿Estatus de carga?</label>
										<select id="editIncidentStatusC" name="unitRent">
											    <option value="">Selecciona una opcion</option>
										        <option value="Dañada">Dañada</option>
										        <option value="Recuperada">Recuperada</option>
										        <option value="Sin daño">Sin daño</option>
										        <option value="Perdida total">Perdida total</option>
										        <option value="Perdida parcial">Perdida parcial</option>
    								    </select>
    							    </div>
    							    <div class="entry" id="o1">
										<label for="name">Fecha de fuera de servicios:</label>
										<input type="date"  id="editOutService" name="name"> 
									</div>
									 <div class="entry" id="o2">
										<label for="name">Descripcion:</label>
										<input type="text"  id="editOutDescrip" name="name"> 
									</div>
    							    <div class="entry" id="r1">
										<label for="unitPlate">Dia del robo:</label>
										<input type="date"  id="editTheftDate" name="unitPlate"> 
									</div>
									<div class="entry" id="r2">
										<label for="unitPlate">Estatus del gestor:</label>
										<input type="text"  id="editTheftStatusG" name="unitPlate"> 
									</div>
									<div class="entry" id="r3">
										<label for="unitRent">¿Unidad robada?</label>
										<select id="editTheftStatusU" name="unitRent">
											    <option value="">Selecciona una opcion</option>
										        <option value="Tractocamion">Tractocamion</option>
										        <option value="Plataformas">Plataformas</option>
										        <option value="Mercancia">Mercancia</option>
										        <option value="Dolly">Dolly</option>
										        <option value="Toda">Toda</option>
    								    </select>
    							    </div>
    							    <div class="entry" id="r4">
										<label for="unitPlate">Mercancia Transportada:</label>
										<input type="text"  id="editTheftStatusM" name="unitPlate"> 
									</div>
									<div class="entry" id="r5">
										<label for="client">Cliente:</label>
										<select class="js-example-basic-single" name="client" id="editTheftStatusC">
											<option value="0">Seleccionar Cliente</option>
											<option th:each="option : ${catClient}" th:value="${option.clientId}" th:text="${option.clientBusinessName}"></option>
										</select>
									</div>


    							   <div class="entry">
										<label for="unitRent">¿La Unidad es Rentada?</label>
										<select id="editUnitRent" name="unitRent">
											    <option value="">Seleccionar</option>
										        <option value="Si">Si</option>
										        <option value="No">No</option>
    								    </select>
    							    </div>
									<div class="entry" id="d1">
										<label for="actualProject">Proyecto Actual:</label>
										<input type="text"  id="editActualProject" name="actualProject">
									</div>

									<div class="entry">
										<label for="startInsurance">Fecha de Actualización:</label>
										<input type="date"  id="editActual" name="editActual"> 
									</div>

								</div>
							</div>
							<!-- Modal de Edición poliza-->
							<div class="edit insurance">
								<h5>Póliza de Seguro</h5>
								<div class="space">
								   <div class="entry">
										<label for="insuranceNumber">Número de Póliza de Seguro:</label>
										<input type="text"  id="editInsuranceNumber" name="insuranceNumber"> 
									</div>
									<div class="entry">
										<label for="aseguradora">Aseguradora Resppnsable:</label>
										<select name="aseguradora" id="editCpAseguradoraResponsable">
											<option value="">Seleccione Aseguradora</option>
											<option value="Qualitas">Qualitas</option>
											<option value="GNP">GNP</option>
											<option th:each="option : ${catLocations}" th:value="${option.locationId}" th:text="|${option.locationCity}, ${option.locationState}|"></option>
										</select>
									</div>
									<div class="entry">
										<label for="insuranceNumber">Inciso:</label>
										<input type="text"  id="editInsuranceSub" name="insuranceNumber"> 
									</div>
									<div class="entry">
										<label for="insuranceNumber">Endoso:</label>
										<input type="text"  id="editInsuranceEndo" name="insuranceNumber"> 
									</div>
									<div class="entry">
										<label for="startInsurance">Fecha de Inicio de Póliza de Seguro:</label>
										<input type="date"  id="editStartInsurance" name="startInsurance"> 
									</div>
									<div class="entry">
										<label for="endInsurance">Fecha de Fin de Póliza de Seguro:</label>
										<input type="date"  id="editEndInsurance" name="endInsurance"> 
									</div>
								</div>
							</div>
							<!-- Modal de Creación de Permiso SCT-->
							<div class="edit permission">
								<h5>Permiso SCT</h5>
								<div class="entry">
										<label for="SCT">Permiso SCT:</label>
										<select name="SCT" id="editPermisoSct">
											<option value="">Seleccione Permiso</option>
											<option th:each="option : ${catTipoPermisos}" th:value="${option.clavePermiso}" th:text="|${option.clavePermiso}- ${option.descripcionPermiso}|"></option>
										</select>
									</div>
									<div class="entry">
										<label for="autotransportable">Tipo de Autotransporte:</label>
										<select name="autotransportable" id="editTipoAutotransportable">
											<option value="">Seleccionar Autotransporte</option>
											<option th:each="option : ${catConfigAutoTransporte}" th:value="${option.claveAutoTrans}" th:text="|${option.claveAutoTrans}- ${option.descripcionAutoTrans}|"></option>
										</select>
									</div>
									<div class="entry">
										<label for="permiso">Numero de Permiso:</label>
										<input type="text"  id="editNumeroPermiso" name="permiso"> 
									</div>
							</div>
						</div>
						<div class="view right">
							<div class="routes">
								<button type="button" class="route active" id="editGeneral">Información General</button>
								<button type="button" class="route" id="editInsurance">Póliza de Seguro</button>
								<button type="button" class="route" id="editPermission">Permiso STC</button>
							</div>
							<div class="action">
								<button type="submit" class="main-btn">
									Actualizar Unidad
									<i class="fa-solid fa-floppy-disk"></i>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- Modal de Documentos -->
			<div class="popup" id="unitDocuments">
				<div class="popup-close">
					<button class="close-btn" onclick="closePopups()"><i class="fa-solid fa-xmark"></i></button>
				</div>
				<div class="popup-container">
					<h2>Documentos de Unidades</h2>
								<div class="popup-data">
						<div class="data-evidence" id="outBase">
							<div class="evidence-row">
								<b>1. Dictamen Fisicomecanico:</b>
								<input id="checkId1" name="check" type="checkbox">
							</div>
							<div class="evidence-row">
								<p id="uploadDate1"></p>
								<p id="uploadTime1"></p>
							</div>
							<div class="evidence-row">
								<button id="uploadBtnId1" class="upload-btn" onclick="openValidityPopup(1)">
									Subir
									<i class="fa-solid fa-upload"></i>
								</button>
								<button id="downloadBtnId1" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(1)">
									Descargar
									<i class="fa-solid fa-download"></i>
								</button>
							</div>
						</div>
						<div class="data-evidence" id="inPlant">
							<div class="evidence-row">
								<b>2. Dictamen Contaminante:</b>
								<input id="checkId2" name="check" type="checkbox">
							</div>
							<div class="evidence-row">
								<p id="uploadDate2"></p>
								<p id="uploadTime2"></p>
							</div>
							<div class="evidence-row">
								<button id="uploadBtnId2" class="upload-btn" onclick="openValidityPopup(2)">
									Subir
									<i class="fa-solid fa-upload"></i>
								</button>
								<button id="downloadBtnId2" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(2)">
									Descargar
									<i class="fa-solid fa-download"></i>
								</button>
							</div>
						</div>
						<div class="data-evidence" id="startCharge">
							<div class="evidence-row">
								<b>3. Factura:</b>
								<input id="checkId3" name="check" type="checkbox">
							</div>
							<div class="evidence-row">
								<p id="uploadDate3"></p>
								<p id="uploadTime3"></p>
							</div>
							<div class="evidence-row">
								<button id="uploadBtnId3" class="upload-btn" onclick="openValidityPopup(3)">
									Subir
									<i class="fa-solid fa-upload"></i>
								</button>
								<button id="downloadBtnId3" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(3)">
									Descargar
									<i class="fa-solid fa-download"></i>
								</button>
							</div>
						</div>
						<div class="data-evidence" id="endCharge">
							<div class="evidence-row">
								<b>4. Pedimento (OPCIONAL):</b>
								<input id="checkId4" name="check" type="checkbox">
							</div>
							<div class="evidence-row">
								<p id="uploadDate4"></p>
								<p id="uploadTime4"></p>
							</div>
							<div class="evidence-row">
								<button id="uploadBtnId4" class="upload-btn" onclick="openValidityPopup(4)">
									Subir
									<i class="fa-solid fa-upload"></i>
								</button>
								<button id="downloadBtnId4" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(4)">
									Descargar
									<i class="fa-solid fa-download"></i>
								</button>
							</div>
						</div>
						<div class="data-evidence" id="outPlant">
							<div class="evidence-row">
								<b>5. Permiso ASEA RME:</b>
								<input id="checkId5" name="check" type="checkbox">
							</div>
							<div class="evidence-row">
								<p id="uploadDate5"></p>
								<p id="uploadTime5"></p>
							</div>
							<div class="evidence-row">
								<button id="uploadBtnId5" class="upload-btn" onclick="openValidityPopup(5)">
									Subir
									<i class="fa-solid fa-upload"></i>
								</button>
								<button id="downloadBtnId5" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(5)">
									Descargar
									<i class="fa-solid fa-download"></i>
								</button>
							</div>
						</div>
						<div class="data-evidence" id="inPit">
							<div class="evidence-row">
								<b>6. Permiso SCT:</b>
								<input id="checkId6" name="check" type="checkbox">
							</div>
							<div class="evidence-row">
								<p id="uploadDate6"></p>
								<p id="uploadTime6"></p>
							</div>
							<div class="evidence-row">
								<button id="uploadBtnId6" class="upload-btn" onclick="openValidityPopup(6)">
									Subir
									<i class="fa-solid fa-upload"></i>
								</button>
								<button id="downloadBtnId6" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(6)">
									Descargar
									<i class="fa-solid fa-download"></i>
								</button>
							</div>
						</div>
						<div class="data-evidence" id="inPlant">
							<div class="evidence-row">
								<b>7. Tarjeta de Circulación:</b>
								<input id="checkId7" name="check" type="checkbox">
							</div>
							<div class="evidence-row">
								<p id="uploadDate7"></p>
								<p id="uploadTime7"></p>
							</div>
							<div class="evidence-row">
								<button id="uploadBtnId7" class="upload-btn" onclick="openValidityPopup(7)">
									Subir
									<i class="fa-solid fa-upload"></i>
								</button>
								<button id="downloadBtnId7" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(7)">
									Descargar
									<i class="fa-solid fa-download"></i>
								</button>
							</div>
						</div>
						<div class="data-evidence" id="inPlant">
							<div class="evidence-row">
								<b>8. Póliza de Seguro:</b>
								<input id="checkId8" name="check" type="checkbox">
							</div>
							<div class="evidence-row">
								<p id="uploadDate8"></p>
								<p id="uploadTime8"></p>
							</div>
							<div class="evidence-row">
								<button id="uploadBtnId8" class="upload-btn" onclick="openValidityPopup(8)">
									Subir
									<i class="fa-solid fa-upload"></i>
								</button>
								<button id="downloadBtnId8" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(8)">
									Descargar
									<i class="fa-solid fa-download"></i>
								</button>
							</div>
						</div>
						<div class="data-evidence" id="outPlant">
							<div class="evidence-row">
								<b>9. Permiso ASEA RP:</b>
								<input id="checkId9" name="check" type="checkbox">
							</div>
							<div class="evidence-row">
								<p id="uploadDate9"></p>
								<p id="uploadTime9"></p>
							</div>
							<div class="evidence-row">
								<button id="uploadBtnId9" class="upload-btn" onclick="openValidityPopup(9)">
									Subir
									<i class="fa-solid fa-upload"></i>
								</button>
								<button id="downloadBtnId9" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(9)">
									Descargar
									<i class="fa-solid fa-download"></i>
								</button>
							</div>
						</div>
						<div class="data-evidence" id="inPlant">
							<div class="evidence-row">
								<b>10. Permiso de Doble Articulado:</b>
								<input id="checkId10" name="check" type="checkbox">
							</div>
							<div class="evidence-row">
								<p id="uploadDate10"></p>
								<p id="uploadTime10"></p>
							</div>
							<div class="evidence-row">
								<button id="uploadBtnId10" class="upload-btn" onclick="openValidityPopup(10)">
									Subir
									<i class="fa-solid fa-upload"></i>
								</button>
								<button id="downloadBtnId10" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(10)">
									Descargar
									<i class="fa-solid fa-download"></i>
								</button>
							</div>
						</div>
						<div class="data-evidence" id="inPlant">
							<div class="evidence-row">
								<b>11. Contrato de Arrendamiento:</b>
								<input id="checkId11" name="check" type="checkbox">
							</div>
							<div class="evidence-row">
								<p id="uploadDate11"></p>
								<p id="uploadTime11"></p>
							</div>
							<div class="evidence-row">
								<button id="uploadBtnId11" class="upload-btn" onclick="openValidityPopup(11)">
									Subir
									<i class="fa-solid fa-upload"></i>
								</button>
								<button id="downloadBtnId11" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(11)">
									Descargar
									<i class="fa-solid fa-download"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Modal de Documentos-->
			<div class="popup" id="editValidity">
				<div class="popup-close">
					<button class="close-btn" onclick="closePopups()"><i class="fa-solid fa-xmark"></i></button>
				</div>
				<div id="editvalidityForm" class="popup-container">
					<h2>Añadir Informacion del Documento</h2>
					<div class="popup-views">
							<div class="view left">
								<div class="edit validity">
									<h5>Información del documento</h5>
									<div class="space">
										
										<div class="entry">
											<label for="documentFile">Documento Digital:</label>
											<input type="file" id="evidenceValidityFile" name="documentFile"> 
										</div>
										
										<div class="entry">
											<label for="documentValidity">Vigencia del Documento:</label>
											<input type="date"  id="evidenceValidityDate" name="documentValidity"> 
										</div>
									</div>
								</div>
							</div>
							<div class="view right">
								
								<div class="action">
									<button type="submit" class="main-btn" onclick="uploadValidityDocument()"> 
										Guardar Información
										<i class="fa-solid fa-floppy-disk"></i>
									</button>
								</div>
							</div>
					</div>
				</div>
			</div>
			<!-- Modal de gps -->
			<div class="popup" id="createGPS">
				<div class="popup-closer">
					<button class="close-btn" onclick="closePopups()">
						<i class="fa-solid fa-xmark"></i>
					</button>
				</div>
				<div  class="contenedor max">
					<h2>Visualizar Información de GPS</h2> 
					<table id="gpsTable" class="table table-borderless">		
						<thead>
							<tr>													
								<th>Fecha actualización</th>			
								<th>Latitud</th>						
								<th>Longuitud</th>			
								<th>Odometro</th>			
								<th>Kilometros al dia</th>			
								<th>Nivel de combustible</th>											
								<th>Litros de combustible</th>		
							</tr>			
						</thead>
					</table>
				</div>
			</div>
			<!-- Modal de gastos adicionales-->
			<div class="popup" id="createAditional">
				<div class="popup-closer">
					<button class="close-btn" onclick="closePopups()">
						<i class="fa-solid fa-xmark"></i>
					</button>
				</div>
				<div  class="contenedor max">
					<h2>Gastos Adicionales</h2> 
					<button class="main-btn1" onclick="openAddPopup()"> Agregar<i class="fa-solid fa-plus"></i></button>
					<table id="aditionalGs" class="table table-borderless">		
						<thead>
							<tr>													
								<th>ID</th>			
								<th>Nombre del Concepto</th>						
								<th>Precio</th>			
								<th>Fecha</th>			
								<th>Concepto de pago</th>	
								<th>Vigencia</th>		
								<th>Editar</th>		
							</tr>			
						</thead>
					</table>
				</div>
			</div>
			<!-- Modal de Adicional Creacion -->
			<div class="popup" id="createAditonalCost">
				<div class="popup-close">
					<button class="close-btn" onclick="closePopups()"><i class="fa-solid fa-xmark"></i></button>
				</div>
				<form id="createFormAdd" class="popup-container">
					<h2>Añadir Gasto Adicional</h2>
					<div class="popup-views">
						<div class="view left">
							<div class="edit add">
								<h5>Información del gasto</h5>
								<input type="number" id="editAdd" hidden=true>
								<div class="space">
								    <div class="entry">
									    <label for="name">Tipo de concepto:</label>
										<select id="addConcept" name="name">
											<option value="">Seleccionar una opcion</option>
											<option value="Seguro Vehicular">Seguro Vehicular</option>
											<option value="Gps">Gps</option>
											<option value="Permiso y derechos Vehiculares">Permiso y derechos Vehiculares</option>
											<option value="Verificacion y certificacion de vehiculos">Verificacion y certificacion de vehiculos</option>
											<option value="Neumaticos">Neumaticos</option>
											<option value="Refacciones">Refacciones</option>
											<option value="Mantenimiento">Mantenimiento</option>
										</select>									
									 </div>
									 <div class="entry">
									    <label for="name">Descripcion de concepto:</label>
										<input type="text"  id="addDescription" name="name"> 										
									 </div>
									 <div class="entry">
									    <label for="date">Fecha de pago:</label>
										<input type="date"  id="addDate" name="date"> 										
									 </div>
									 <div class="entry">
									    <label for="name">Precio:</label>
										<input type="text"  id="addCost" name="name"> 										
									 </div>
									 <div class="entry">
									    <label for="date">Vigencia:</label>
										<input type="date"  id="addVigen" name="date"> 										
									 </div>
									 <div class="entry">
									    <label for="name">Dias:</label>
										<input type="text"  id="addDays" name="name" readonly> 										
									 </div>
									 <div class="entry">
									    <label for="name">Total por dia:</label>
										<input type="text"  id="addTotal" name="name" readonly> 										
									 </div>
									 <div class="entry">
									    <label for="name">Estatus:</label>
										<select id="addStatus" name="name">
											<option value="">Seleccionar una opcion</option>
											<option value="Pagado">Pagado</option>
											<option value="Por pagar">Por pagar</option>
											<option value="Prestamo">Prestamo</option>
										</select>									
									 </div>
								</div>
							</div>
						</div>
						<div class="view right">
							<div class="routes">
				                <button type="button" class="route active" id="createAdd">Información de gastos adicionales</button>
							</div>
							<div class="action">
								<button type="submit" class="main-btn"> 
									Crear Gasto Adicional
									<i class="fa-solid fa-floppy-disk"></i>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			
			<!-- Modal de Adicional Edicion -->
			<div class="popup" id="editAditonalG">
				<div class="popup-close">
					<button class="close-btn" onclick="closePopups()"><i class="fa-solid fa-xmark"></i></button>
				</div>
				<form id="editFormAdd" class="popup-container">
					<h2>Editar Gasto Adicional</h2>
					<div class="popup-views">
						<div class="view left">
							<div class="edit add">
								<h5>Información del gasto</h5>
								<input type="number" id="editAditional" hidden=true>
								<div class="space">
								    <div class="entry">
									    <label for="name">Tipo de concepto:</label>
										<select id="editAddConcept" name="name">
											<option value="">Seleccionar una opcion</option>
											<option value="Seguro Vehicular">Seguro Vehicular</option>
											<option value="Gps">Gps</option>
											<option value="Permiso y derechos Vehiculares">Permiso y derechos Vehiculares</option>
											<option value="Verificacion y certificacion de vehiculos">Verificacion y certificacion de vehiculos</option>
											<option value="Neumaticos">Neumaticos</option>
											<option value="Refacciones">Refacciones</option>
											<option value="Mantenimiento">Mantenimiento</option>
										</select>									
									 </div>
									 <div class="entry">
									    <label for="name">Descripcion de concepto:</label>
										<input type="text"  id="editAddDescription" name="name"> 										
									 </div>
									 <div class="entry">
									    <label for="date">Fecha de pago:</label>
										<input type="date"  id="editAddDate" name="date"> 										
									 </div>
									 <div class="entry">
									    <label for="name">Precio:</label>
										<input type="text"  id="editAddCost" name="name"> 										
									 </div>
									 <div class="entry">
									    <label for="date">Vigencia:</label>
										<input type="date"  id="editAddVigen" name="date"> 										
									 </div>
									 <div class="entry">
									    <label for="name">Dias:</label>
										<input type="text"  id="editAddDays" name="name" readonly> 										
									 </div>
									 <div class="entry">
									    <label for="name">Total por dia:</label>
										<input type="text"  id="editAddTotal" name="name" readonly> 										
									 </div>
									 <div class="entry">
									    <label for="name">Estatus:</label>
										<select id="editAddStatus" name="name">
											<option value="">Seleccionar una opcion</option>
											<option value="Pagado">Pagado</option>
											<option value="Por pagar">Por pagar</option>
											<option value="Prestamo">Prestamo</option>
										</select>									
									 </div>
								</div>
							</div>
						</div>
						<div class="view right">
							<div class="routes">
				                <button type="button" class="route active" id="editAdd">Información de gastos adicionales</button>
							</div>
							<div class="action">
								<button type="submit" class="main-btn"> 
									Editar Gasto Adicional
									<i class="fa-solid fa-floppy-disk"></i>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- Modal de Documentos de gastos adicionales -->
			<div class="popup" id="addDocuments">
				<div class="popup-close">
					<button class="close-btn" onclick="closePopups()"><i class="fa-solid fa-xmark"></i></button>
				</div>
				<div class="popup-container">
					<h2>Documentos de Gastos Adicionales</h2>
					<div class="popup-data">
						<div class="data-evidence" id="outBase">
							<div class="evidence-row">
								<b>1. Factura:</b>
								<input id="checkId12" name="check" type="checkbox">
							</div>
							<div class="evidence-row">
								<p id="uploadDate12"></p>
								<p id="uploadTime12"></p>
							</div>
							<div class="evidence-row">
								<button id="uploadBtnId12" class="upload-btn" onclick="openValidityPopup(12)">
									Subir
									<i class="fa-solid fa-upload"></i>
								</button>
								<button id="downloadBtnId12" name="down-btn" class="download-btn" hidden="true" onclick="viewEvidence(12)">
									Descargar
									<i class="fa-solid fa-download"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<input type="file" hidden="true" id="updloadFile">
			<form action="#" th:action="@{/catalog/units/viewEvidence}" target="_blank">
				<input type="number" id="checklistId" hidden="true" name="evicenceChecklist">
				<input type="number" id="unitIdFile" hidden="true" name="evidenceUnitsId">
				<button id="testButton" class="btn btn-dark btn-sm btn-block" type="submit" hidden="true" ></button>
			</form>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
			<script type="text/javascript" th:src="@{/js/catalog/units.js}"></script>
		</section>
	</body>
</html>