:root {
	/* === PALETA TRADEBI === */
	--color1: #37736d;  /* Verde oscuro */
	--color2: #5a887f;  /* Verde medio */
	--color3: #a3b5ac;  /* Verde grisáceo claro */
	--color4: #cbcbcb;  /* Gris claro */
	--color5: #e1e1df;  /* Gris casi blanco */
	--white: #ffffff;
	--black: #000000;

	/* === COLORES DE INTERFAZ === */
	--main: var(--black);
	--drk: var(--color2);
	--shd: #dd99db40; /* Puedes cambiar esto si quieres sombras acordes a la paleta */
	--gray: var(--color4);
	--white-10: #f8f8f8;
	--orange: var(--color1); /* Si no quieres morado, puedes usar otro o eliminar */
	--done: #03045E;
	--done-lg: #ead4ed;

	/* === BORDES Y TRANSICIONES === */
	--rad: 1vh;
	--rad-btn: 1vh;
	--transition: all 1s ease;

	/* === VARIANTES DE VERDE (si aún necesitas) === */
	--drkbnd: #2b6861;
	--medbnd: #187a6b;
	--nrmbnd: #479288;
	--lgtbnd: #3fb6a6;
	--minbnd: #77e7d7;
}

* {
    box-sizing: border-box;
}
html {
	width: 100%;
    height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
body {
	width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
    background-color: #a3b5ac;
    margin: 0;
}
section {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
	background-color: var(--white);
	color: var(--drk);
	padding-top: 2vh;
    padding-left: 10vh;
    padding-right: 1vh;
}
h1, h2, h3, h4, h5, p, b {
	margin: 0;
}
/* General Button */
.main-btn {
	gap: 2vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	font-size: 1.8vh;
	font-weight: 600;
	padding: 1.5vh 3vh;
	background-color: #a3b5ac;
	font-family: inherit;
	color: #030202;
	border-radius: var(--rad-btn);
	transition: var(--transition);
	opacity: 1;
}
.main-btn:hover {
	cursor: pointer;
	opacity: 0.8;
}
.dt-buttons {
    gap: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close-btn {
	width: 4vh;
	border: none;
	aspect-ratio: 1/1;
	font-size: 1.4vh;
	background-color: #520606;
	font-family: inherit;
	color: #cc0000;
	border-radius: 50vh;
	transition: var(--transition);
	opacity: 1;
}
.close-btn:hover {
	cursor: pointer;
	opacity: 0.8;
}
.upload-btn {
	gap: 2vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	font-size: 1.4vh;
	font-weight: 600;
	padding: 2vh;
	background-color: rgb(50, 139, 255);
	font-family: inherit;
	color: rgb(20, 56, 102);
	border-radius: var(--rad);
	transition: var(--transition);
	aspect-ratio: 1/1;
	opacity: 1;
}
.upload-btn:hover {
	cursor: pointer;
	opacity: 0.8;
}
.download-btn {
	gap: 2vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	font-size: 1.4vh;
	font-weight: 600;
	padding: 2vh;
	background-color: rgb(50, 255, 129);
	font-family: inherit;
	color: rgb(20, 102, 57);
	border-radius: var(--rad);
	transition: var(--transition);
	aspect-ratio: 1/1;
	opacity: 1;
}
.download-btn:hover {
	cursor: pointer;
	opacity: 0.8;
}
/* General Input */
.entry {
	width: 100%;
	padding: 1vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
	border-radius: var(--rad);
	box-sizing: border-box;
	gap: 0.5vh;
}
.entry label {
	color: #37736d;
	font-size: 1.9vh;
	font-weight: 600;
	margin-left: 1vh;
}
.entry input {
	width: 100%;
	color: var(--black);
    padding: 1.5vh 3vh;
	font-family: inherit;
    font-size: 1.4vh;
    font-weight: 500;
    background-color: var(--white-10);
	border-radius: var(--rad);
	box-sizing: border-box;
	border: none;
}
.entry textarea {
	width: 100%;
	color: var(--black);
    padding: 1.5vh 3vh;
	font-family: inherit;
    font-size: 1.4vh;
    font-weight: 500;
    background-color: #cbb6e240;
	border-radius: var(--rad);
	box-sizing: border-box;
	border: none;
}
.entry select {
	width: 100%;
	color: var(--black);
    padding: 1.5vh 3vh;
	font-family: inherit;
    font-size: 1.4vh;
    font-weight: 500;
    background-color: var(--white-10);
	border-radius: var(--rad);
	box-sizing: border-box;
	border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
	font-family: inherit !important;
    font-size: 1.4vh !important;
  	font-weight: 500 !important;
  	border: 2px solid var(--done);
  	-webkit-text-fill-color: var(--done);
  	-webkit-box-shadow: 0 0 0px 1000px var(--done-lg) inset;
  	transition: background-color 5000s ease-in-out 0s;
}

/********* POPUP *********/
.popup {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	gap: 2vh;
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #424242b7;
	z-index: 3;
}
.popup-container {
	gap: 2vh;
	width: 50%;
	height: fit-content;
	padding: 4vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	overflow-x: auto;
	background-color: #ede7ee;;
	border-radius: var(--rad);
	color: #1a1c1d;
	box-sizing: border-box;
}
.popup-container h2 {
	font-weight: 700;
	font-size: 2vh;
}
.popup-data {
	gap: 2vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.data-evidence {
	gap: 1vh;
	width: 30%;
	padding: 2vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-radius: var(--rad);
	background-color: var(--white);
	color: var(--gray);
}
.evidence-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}
.evidence-row b {
	font-weight: 700;
	font-size: 1.4vh;
}
.evidence-row p {
	width: auto;
	padding: 0;
	aspect-ratio: inherit;
	font-weight: 600;
	font-size: 1.1vh;
}
.evidence-row button {
	height: 100%;
	padding: 1.6vh;
	aspect-ratio: inherit;
	font-size: 1.2vh;
}
.data-container {
	gap: 1vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);
    border-radius: var(--rad);
    align-items: flex-start;
    padding: 2vh;
}
.data-container b {
	width: auto;
	color: var(--main);
	font-weight: 600;
	font-size: 1vh;
	box-sizing: border-box;
}
.data-container p { 
	width: auto;
    color: var(--drk);
    font-weight: 600;
    font-size: 1.2vh;
    box-sizing: border-box;
    aspect-ratio: inherit;
	padding: 0;
}
.popup-views {
	gap: 2vh;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
.view {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	box-sizing: border-box;
}
.right {
	gap: 2vh;
	width: 30%;
	height: 100%;
	background-color: var(--white);
	border-radius: var(--rad);
	padding: 2vh;
}
.routes {
	gap: 1vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
.route {
	width: 100%;
	border: none;
	font-size: 1.2vh;
	font-weight: 600;
	padding: 1vh 2vh;
	background-color: inherit;
	border-radius: var(--rad-btn);
	box-sizing: border-box;
	color: var(--gray);
}
.active {
	background-color: #e9d2ec;
	color: var(--white);
}
.action {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
.left {
	width: 70%;
	height: 100%;
}
.space {
	gap: 2vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.space .entry {
	width: 48%;
}
.observations-space {
	gap: 2vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
/* TABLE */
table {
	width: 100%;
	padding: 2vh;
	
}
thead {
	font-size: 14px;
    text-align: center;
}
table.dataTable {
	width: 100% !important;
	margin: 0 !important;
}
.table td, .table th {
    vertical-align: middle;
}
.card-table {
	width: 90%;
	background-color: #e1e1df;
	border-radius: var(--rad);
	box-shadow: none;
    padding: 1vh
}
.dataTables_wrapper {
	gap: 2vh;
    width: 100%;
    padding: 2vh;
    display: flex;
    flex-direction: column;
	box-sizing: border-box;
	margin: 0 !important;
}
.table-content {
	width: 100%;
}
.table-content th {
	width: auto;
	text-align: center;
}
.table-content td {
	text-align: center;
	font-size: 1.3vh;
	font-weight: 500;
}
.table-content td button {
	font-weight: 600;
	text-decoration: underline;
	background-color: transparent;
	color: var(--main);
	border: none;
}
.custome-table {
	gap: 4vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 3vh;
}
.row {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;	
}
.table-header {
	width: 100%;
    font-size: 1.6vh;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
    color: #37736d;
}
.table-btn {
	padding: 0;
}
.table-btn .btn-group {
	gap: 2vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.table-btn .btn-group button { 
	border: none;
	font-size: 1.2vh;
	font-weight: 600;
	border-radius: var(--rad) !important;
	background-color: var(--white);
	color: var(--gray);
	padding: 1vh 2vh;
}
.table-btn .btn-group button:hover { 
	cursor: pointer;
	background-color: var(--gray);
	color: var(--white);
}
.table-search {
	padding: 0;
}
.dataTables_filter {
	height: 100%;
	box-sizing: border-box;
	padding: 0;
}
.dataTables_filter label {
	height: 100%;
	box-sizing: border-box;
	font-size: 1.2vh;
	font-weight: 600 !important;
	margin: 0;
}
.dataTables_filter input {
	height: 100%;
	border: none;
	border-radius: var(--rad);
	background-color: var(--white);
	font-size: 1.2vh;
	font-weight: 600 !important;
	box-sizing: border-box;
	padding: 1vh 3vh;
}
.table-title {
	width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
	
}
.table-title h2 {
	color: var(--main);
	font-weight: 700;
	font-size: 2vh;
	
}
.table-footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
.table-footer ul {
	display: flex;
	justify-content: center !important;
	align-items: center;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #000000;
}
.pagination {
	gap: 2vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2vh;
	font-weight: 500;
}
.pagination li {
	border-radius: var(--rad);
}
.page-item.disabled .page-link {
	background-color: var(--white);
	color: var(--black);
	border: none;
}
.page-item.active .page-link {
	font-weight: 600;
	background-color: #a6a6a6;
	border-radius: var(--rad);
	color: var(--drk);
	border: none;
}
.active {
    background-color: #e9d2ec;
    color: #1b1a1a;
}
.fulltable {
	padding: 2vh;
	border: 1px solid var(--white-10);
	border-radius: var(--rad);
}
.settings {
	height: 73px;
	float: left;
	background: rgb(10, 10, 10);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 250px;
	margin: 0px;
	text-align: center;
	font-size: 20px;
	font-family: 'Strait', sans-serif;
}

 @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
 

 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

.container-loader {
	display: none;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	position: absolute;
}
.load {
	width: 5vh;
    height: 5vh;
    border: solid 5px var(--done);
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    transition: all 0.5s ease-in;
    animation-name: rotate;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	z-index: 4;
}

input[type=file]::file-selector-button {
	margin-right: 20px;
	border: none;
	font-size: 1.2vh;
	background: var(--white);
	padding: 1vh 2vh;
	color: var(--gray);
	cursor: pointer;
	border-radius: var(--rad);
	transition: var(--transition);
  }
  
  input[type=file]::file-selector-button:hover {
	background: var(--white-10);
  }

.log-btn {
	gap: 2vh;
	display: flex;
	justify-content: center;
	align-items: left;
	border: none;
	font-size: 1vh;
	font-weight: 600;
	padding: 1vh 0.5vh;
	background-color: var(--main);
	font-family: inherit;
	color: var(--drk);
	border-radius: var(--rad-btn);
	transition: var(--transition);
	opacity: 1;
}